body {
    background: linear-gradient(to bottom, #4A94FF, #0065B3); /* Градиент от голубого к темно-синему */
    background-image: url(); /* Добавление текстуры */
    background-size: cover; /* Заполнение всего экрана */
    background-repeat: no-repeat; /* Не повторять фон */
    background-attachment: fixed; /* Фиксированный фон */
    color: #ffffff; /* Цвет текста для лучшей читаемости */
    overflow-x: hidden; /* Скрыть горизонтальный скролл */
}

.container {
    margin-top: 100px; /* Отступ сверху для контента */
}

.card {
    background-color: rgba(0, 0, 0, 0.8); /* Черный фон с прозрачностью */

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Тень для карточки */
    transition: transform 0.3s ease; /* Анимация при наведении */
}

.card:hover {
    transform: translateY(-5px); /* Поднять карточку при наведении */
}

.card-header {
    background-color: rgba(0, 0, 0, 0.3); /* Прозрачный черный фон для заголовка карточки */
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон для jumbotron */
    padding: 2rem;
    margin-bottom: 3rem;
}

.jumbotron h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.jumbotron p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}