{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">User Registration</h1>
                    <hr>

                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-success btn-block mt-4">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% load static %}


    {% comment %} <h1>Register</h1>
    <hr>

    <form action="{% url 'register' %}" method="post">
        {{ form }}
        {% csrf_token %}
    <button type="submit" class="btn btn-success">submit</button>
    </form>
{% endblock %} {% endcomment %}